{% extends 'main/main.html' %}
{% block content %}
{% if latestnewss %}
<h2>最新消息：</h2>
<table>
<tr><th>最新消息標題</th><th>刪除</th></tr>
{% for latestnews in latestnewss %} 
<tr>
<td>
<a href={% url 'news:latestnews' latestnews.id %}>{{latestnews.title}}</a>
</td>
<td>
<form method=post action={% url 'news:deleteLatestnews' latestnews.id %}>
 {% csrf_token %}
 <input type=submit value=刪除>
 </form>
</td>
</tr>
{% endfor %}
</table>
{% else %}
<p><strong>目前尚未有最新消息。</strong></p>
{% endif %}
{% endblock %}