{% extends 'main/main.html' %}
{% block content %}
{% if latestnews %}
<h1>{{latestnews.title}}</h1>
{% if latestnews %}
<table>
<tr><th>最新消息正文</th><th>最新消息更新時間</th></tr>
<tr>
<td style=width:50%;>
{{latestnews.content}}
</td>

<td style=text-align:center;>
{{latestnews.uploadDate}}
</td>

</tr>
</table>
{% else %}
<p><strong>目前並無最新消息。</strong></p>
{% endif %}
{% else %}
<p>所指定的分類「{{latestnewsID}}」不存在。</p>
{% endif %}
<br>
<form action={% url 'news:updateLatestnews' latestnews.id %}>
<input type="submit" value=修改>
</form>
<br>
<button><a href={% url 'news:news' %}>回到最新消息</a></button>
{% endblock %}