<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>朝陽資管新聞</title>
<meta charset=utf-8>
<link rel=stylesheet href={% static 'main/css/main.css' %}>
</head>
<body>
<div id=wrapper>
<header>
<div id=headerLeft>
<a href={% static 'photo/img/logo.jpg' %} target=__blank>
<img id=logo src={% static 'photo/img/logo.jpg' %} alt=IM22th-logo></a>
朝陽科技大學資訊管理系
</div>
<div id=headerRight>
<ul>
  <li><a href={% url 'news:news' %}>最新消息</a></li>
  <li><a href={% url 'about:about' %}>關於我們</a></li>
  <li><a href={% url 'photo:photobook' %}>相片</a></li>
  <li><a href={% url 'main:main' %}>回首頁</a></li>
</ul>
</div>
</header>
{% block content %}
<link rel=stylesheet href={% static 'main/css/js.css' %}>
<div id="abgne-block-20110317">
        <div class="abgne-player">
            <ul class="abgne-list">
                <li><a target="_blank" href={% static 'photo/img/0.jpg' %}><img src={% static 'photo/img/0.jpg' %}></a></li>
                <li><a target="_blank" href={% static 'photo/img/2.jpg' %}><img src={% static 'photo/img/2.jpg' %}></a></li>
                <li><a target="_blank" href={% static 'photo/img/3.jpg' %}><img src={% static 'photo/img/3.jpg' %}></a></li>
                <li><a target="_blank" href={% static 'photo/img/4.jpg' %}><img src={% static 'photo/img/4.jpg' %}></a></li>
                <li><a target="_blank" href={% static 'photo/img/6.jpg' %}><img src={% static 'photo/img/6.jpg' %}></a></li>
                <li><a target="_blank" href={% static 'photo/img/8.jpg' %}><img src={% static 'photo/img/8.jpg' %}></a></li>
                <li><a target="_blank" href={% static 'photo/img/9.jpg' %}><img src={% static 'photo/img/9.jpg' %}></a></li>
                <li><a target="_blank" href={% static 'photo/img/10.jpg' %}><img src={% static 'photo/img/10.jpg' %}></a></li>
                        // 如果你希望圖片繼續多一點，那就自己再複製增加
            </ul>
        </div>
        <div class="abgne-control">
            <ul class="arrows"> 
                <li class="prev">&lt;</li> 
                <li class="next">&gt;</li> 
            </ul>
        </div>
</div>
<br>
{% if latestnewss %}
<div id=latestnews>
<h2>最新消息：</h2>
<table>
<tr><th>最新消息標題</th><th>更新時間</th></tr>
{% for latestnews in latestnewss %} 
<tr>
<td>
<a href={% url 'news:latestnews' latestnews.id %}>{{latestnews.title}}</a>
</td>
<td>
{{latestnews.uploadDate}}
</td>
</tr>
{% endfor %}
</table>
{% else %}
<p><strong>目前尚未有最新消息。</strong></p>
</div>
{% endif %}
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
$(function(){
    // 先取得必要的元素並用 jQuery 包裝
    // 再來取得 $block 的高度及設定動畫時間
    var $block = $('#abgne-block-20110317'),
        $slides = $block.find('ul.abgne-list'),
        _width = $block.width(),
        $li = $slides.find('li'),
        $control = $block.find('.abgne-control'), 
        _animateSpeed = 600, 
        // 加入計時器, 輪播時間及控制開關
        timer, _showSpeed = 3000, _stop = false;
 
    // 設定 $slides 的寬(為了不讓 li 往下擠)
    $slides.css('width', ($li.length + 1) * _width);
    // 產生 li 選項
    var _str = '';
    for(var i=0, j=$li.length;i<j;i++){
        // 每一個 li 都有自己的 className = playerControl_號碼
        _str += '<li class="abgne-player-control_' + (i+1) + '">' + (i+1) + '</li>';
    }
 
    // 產生 ul 並把 li 選項加到其中
    var $number = $('<ul class="numbers"></ul>').html(_str).appendTo($control), 
        $numberLi = $number.find('li');
 
    // 並幫 .numbers li 加上 click 事件
    $numberLi.click(function(){
        var $this = $(this);
        $this.addClass('current').siblings('.current').removeClass('current');
 
        clearTimeout(timer);
        // 移動位置到相對應的號碼
        $slides.stop().animate({
            left: _width * $this.index() * -1
        }, _animateSpeed, function(){
            // 當廣告移動到正確位置後, 依判斷來啟動計時器
            if(!_stop) timer = setTimeout(move, _showSpeed);
        });
 
        return false;
    }).eq(0).click();
 
    // 幫 .arrows li 加上 click 事件
    $control.find('ul.arrows li').click(function(){
        var _index = $numberLi.filter('.current').index();
        $numberLi.eq((this.className.indexOf('next')>-1?_index+1:_index-1+$numberLi.length)%$numberLi.length).click();
 
        return false;
    });
 
    // 當滑鼠移到 $control li 上時, 加上 .hover 效果
    // 反之則移除
    $control.find('li').hover(function(){
        $(this).addClass('hover');
    }, function(){
        $(this).removeClass('hover');
    });
 
    // 如果滑鼠移入 $slides 時
    $slides.hover(function(){
        // 關閉開關及計時器
        _stop = true;
        clearTimeout(timer);
    }, function(){
        // 如果滑鼠移出 $block 時
        // 開啟開關及計時器
        _stop = false;
        timer = setTimeout(move, _showSpeed);
    });
 
    // 計時器使用
    function move(){
        $control.find('ul.arrows li.next').click();
    }
});
</script>
{% endblock %}
</body>
</html>