#latestnews{
    width:80%;
  margin: 0 auto;
  margin-top:20px;
}
#latestnews table{
    width:100%;
}
#latestnews th{
    width:50%;
    padding:10px 20px;    
}
#latestnews tr{
    text-align:center;
}
.button{
    float:right;
    clear:both;
    margin-top:10px;
}