{% extends 'main/main.html' %}
{% block content %}
<h2>關於朝陽科技大學資訊管理系</h2>
<h3>簡短說明</h3>
<p>朝陽科技大學資訊管理系辦公室：資訊大樓3樓 M-310</p>
<p>Email : im@cyut.edu.tw</p>
<p>URL : http://www.im.cyut.edu.tw</p>
<p>電話 04-23323000 轉7122~7125</p>
<h3>詳細說明</h3>
<p>本校於八十三年七月創校時即成立資訊管理技術系日間部四技部 及二技部。
在八十四年本系成立進修部二年制，配合八十六年本校改制科技大學，本系系名
更改為資訊管理系 ，同年成立碩士班。八十七年成立碩士在職專班，九十七學年
度資訊科技研究所與本系合併，改名成為資訊管理系(含碩士班)、資訊科技研究
所(博士班)成為一系多所。目前本系有教師教授3位、副教授10位、助理教授12
位、講師1位，大學部學生約1,000人， 博碩士生約130名。本系畢業生，除服
役同學外，其就業率達到百 分之八十以上，升學率亦年年創新高。從畢業系友的
表現，可以確定本系的教育理念已經被落實，我們所秉持一貫敬業 的熱誠也相當
受到肯定。</p>
<h3>使命</h3>
<p>本系以培養能面對問題、獨立思考、解決問題、與自我學習的高級 資管人才
為宗旨。在學程規劃方面，參照國內外大學資訊管理相關系所之課程規劃，衡諸目
前產業發展的需求，本系規劃數個資訊管理的相關領域，讓學生能夠依照自己的興
趣與專長，選擇其中一個領域充實自己的專業素養，再透過本系特有的實務專題課
程，讓學生能夠將所學與實務充分結合，以成為學有專精的資管人才。除了專業能
力的 培養外，我們也重視人格的陶養，透過我們的導師制度與融洽的師生關係，
本系就像一個和樂的大家庭，而同學們 在此溫馨的環境中成長學習，將可以從師
長、同學、與朋友相處中學習待人處世等課本外的學問。此外，在學術發 展上，
本系鼓勵教師從事專案研究計畫並發表理論與實務並重的論文，再將研究成果融入
教學當中，更進一步提升 教學品質。</p>
{% endblock %}